@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    cursor: default; /* Default cursor for the rest of the page */
    background-color: #DDF2FD;
}


/* Sidebar Styles */

.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #164863;
    padding-top: 175px;
    position: fixed;
    top: 0;
    right: 0;
    cursor: none; /* Hide cursor within sidebar */
}

.sidebar a {
    text-align: center;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: all 0.3s ease;
}

.sidebar a span {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    pointer-events: none;
    transition: transform 0.1s linear;
}

.cursor {
    pointer-events: none;
    position: fixed;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: overlay;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0; /* Initially hidden */
    z-index: 1000; /* Ensure it is above other elements */
}


/* Home Styles */
.greeting{
    padding: 50px;
    font-family: 'Poppins',sans-serif;
    font-size: 60px;
    font-style: ;
}